body {
  font-family: "Roboto", sans-serif;
  background: url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.02em;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: white;
}

ul {
  list-style: none;
}

input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}

input::placeholder{
  color:white;
}

button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: blue;
  border: 2px solid white;
}

button:hover {
  background: lightblue;
  color: blue;
}

.container {
  background-color: lightblue;
  color: black;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  margin-left: 50px;
  visibility: hidden;
  margin: 50px auto;
  border: 5px double black;
  text-align: center;
  display: block;
}

.ciudades {
  padding: 40px 10%;
}

#ciudad {
  font-size: 2rem;
  color: black;
}

#temperatura {
  font-size: 5rem;
  font-weight: bold;
}

sup {
  font-weight: normal;
  font-size: 2.5rem;
}

img {
  width: 4rem;
}

#descripcion {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black;
}

.encabezado {
  text-align: center;
}
